<!DOCTYPE html>
<html lang="en">

<head>
<title>Spanish-English Samples</title>
</head>

<body>
  <p><strong> Disfluent English | Fluent English Reference </strong></p>
  <p><b style="color:red;">but i i</b> i find this whole  <strong>||||</strong>  i find this whole</p>
  <p><b style="color:red;">it's</b> it's excellent  <strong>||||</strong>  it's excellent		</p>
  <p><b style="color:red;">so uh</b>  been a different turn  <strong>||||</strong>  been a different turn</p>
  <p><b style="color:red;">it's you're</b> you're taking words and developing a picture in your mind <strong>||||</strong> you're taking words and developing a picture in your mind</p>			
  <p><b style="color:red;">i was</b> i was very against our involvement so quickly</b> <strong>||||</strong> i was very against our involvement so quickly</p>	
  <p><b style="color:red;">so and when when</b> when those people are around</b> <strong>||||</strong> when those people are around</p>				
  <p><b style="color:red;">but i i i would</b> i would probably go for <b style="color:red;">for</b> going ahead and doing it <b style="color:red;">you know</b> if it's got to be done for everyone  <strong>||||</strong>  i would probably go for going ahead and doing it if it's got to be done for everyone	</p>
  <p><b style="color:red;">so</b> we were <b style="color:red;">so uh</b> fast to get over the vietnam whatever the vietnam syndrome is that now we've tied ourselves up there in the middle east for a long period of time  <strong>||||</strong>  we were so fast to get over the vietnam whatever the vietnam syndrome is that now we've tied ourselves up there in the middle east for a long period of time </p>
</body>

</html>
