<!DOCTYPE html>
<html lang="en">

<head>
<title>Hindi-Panjabi Samples</title>
</head>

<body>
  <p><strong> Hindi | Panjabi </strong></p>
  <p>यह लिंग पाषाण का ह ै<strong>||||</strong> इह लिग पथर दा है  </p>
  <p> बेचैनी और घबराहट होना ।  <strong>||||</strong> बेचैनी अते घबराहट होणी । </p>
  <p>खूब पानी पीना चाहिए । <strong>||||</strong> खूब पाणी पीणा चाहीदा है ।  </p>
  <p>परंतु ऐसा नहीं है । <strong>||||</strong>  प ् रतू अजिहा नहीं है । </p>
  <p>इसीलिए यह इंतजाम है । <strong>||||</strong> इस लई इह इतजाम है ।  </p>
  <p>तेज खुजली होती है । <strong>||||</strong> तेज ़ खारिस ़ हुदी है । </p>
  <p>मनोबल बढ ़ ता है । <strong>||||</strong> मनोबल वधदा है । </p>
  <p>शरीर में अकड ़ न । <strong>||||</strong> सरीर विच अकड़ा । </p>
  <p>सेलेनियम कहाँ पाया जाता है <strong>||||</strong> सेलेनीअम किथे पाइआ जांदा है </p>
  <p>गर ् भगृह में शिवलिंग स ् थापित है । <strong>||||</strong> गरभग ् रहि विच स ़ िवलिग सथापित हन ।  </p>
  <p>रोगी गर ् म एवं मीठी चीजें खाना चाहता है <strong>||||</strong> रोगी गरम अते मिठीआं चीज ़ ां खाणा चाहुदा है । </p>
  <p>भोजन भी यहाँ बहुत अच ् छा मिलता है और यह जोहांसबर ् ग के मुकाबले सस ् ता भी है । <strong>||||</strong> भोजन वी इथे बहुत चगा मिलदा है अते इह जोहनसबरग दे मुकाबले ससता वी है । </p>


</body>

</html>
