<!DOCTYPE html>
<html lang="en">

<head>
<title>Sample Text</title>
</head>

<body>
  <p><strong> Disfluent Spanish | Disfluent English Reference | Fluent English Reference </strong></p>
  <p>eh silvia castellano sí cómo se llama <strong>||||</strong> eh silvia yes what is your name <strong>||||</strong> silvia yes what is your name</p>
  <p>ah mucho gusto <strong>||||</strong> ah nice to meet you <strong>||||</strong> nice to meet you</p>
  <p>sí sí sí <strong>||||</strong> yes yes yes yes <strong>||||</strong> yes</p>
  <p>ajá pues el tema de hoy es la música <strong>||||</strong> aha well today's subject is music <strong>||||</strong> today's subject is music</p>
  <p>ajá ah no no no <strong>||||</strong> aha ah no no no <strong>||||</strong> no</p>
  <p>sí no es son son más eh <strong>||||</strong> yes eh no eh they are are more eh <strong>||||</strong> they are more</p>
</body>

</html>
