<html>

<head>
</head>
<title>Web Service</title>

<body style="background-color:#c0c2c0">
  <h3> Disfluency Removal Spanish To English </h3>
  <form action="/your_name/" method="post">{% csrf_token %}
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
  </form>
  <form action="/translate/" style="display: inline;" method="post">{% csrf_token %}
    <div class="column ">
      <h1 style="text-align:left;">Input Sentence</h1>
      <textarea rows="10" cols="70" name="source_sent">
                Enter the disfluent spanish sentence.
            </textarea>
      <textarea rows="10" cols="70" name="target_sent">
                Fluent English Translation
            </textarea>
    </div>
    <input type="submit" value="Translate" style="align:centre;">

    <!-- <input type="text" name="source_sent" value=""> -->
    <!-- <input type="text" name="target_sent" value=""> -->
    <!-- <input type="submit" value="Translate"> -->
  </form>
  <div>
    <div class="alert alert-primary" role="alert">
      Recent Translations
      <!-- Recent Translations<a href="#" class="alert-link">an example link</a> -->
    </div>
    <h1 style="text-align:left;">Recent translations:</h1>
    <ul>
      {% for todo_items in all_items %}
      <li>{{ todo_items.content }}</li>
      <form action="/deleteTodo/{{todo_items.id}}/" style="display: inline;" method="post">{% csrf_token %}
        <input type="submit" value="Delete">
      </form>
      {% endfor %}
    </ul>

    <form action="/addTodo/" method="post">{% csrf_token %}
      <input type="text" name="content">
      <input type="submit" value="Add">
    </form>

    <form action="/index/" method="post">{% csrf_token %}
      <input type="submit" value="Go To Home">
    </form>
  </div>
</body>

</html>
